
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title id="pageTitle"></title>
	<link href="/donation/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/donation/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/donation/css/donation.css" rel="stylesheet">
    

    
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
         <div class="">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <img src="/donation/assets/logo.png" class="navbar-brand"/>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="row">
            <a href="addDonations.html">
            <button class="btn btn-primary center-block">Add Item</button>
            </a>
        </div>
        <div class="row">
        </div>
    </div>
    
     <div class="container">
        <div class="row">
          
            <div class="col-lg-12">
                <div class="panel panel-primary" id= "panelOne">
                
                    <button type="button" class="close" 
                    data-target="#panelOne" 
                    data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    
                    <div class="panel-heading">Food</div>
                    <div class="panel-body">
                        <div class="row" >
                            <span class="col-lg-5"><img src = "" /></span><span class = "col-lg-7">hello</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



</html>
